.custom-bg{
    background-image: linear-gradient( 359.2deg, rgba(228,231,230,1) 9.5%, rgba(39,39,39,1) 74.2% ) !important;
}
.card-body{
    z-index: 2;
}
.bi-star, .bi-star-fill{
    color: blueviolet;
    font-size: 20px;
}
td img{
    height: 100px;
}
textarea{
    height: 100px;
    resize: none;

}